<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/icon.css">
    <link rel="stylesheet" href="../static/css/style-user.css" type="text/css" media="all">
    <script src="../static/js/index.js"></script>
</head>

<body>
    <div class="content">

        <div class="content-left">
        <!--按钮-->
        <div class="btn">
            <div class="btn-item"></div>
            <div class="btn-item"></div>
            <div class="btn-item"></div>
        </div>
        <!--头像-->
        <div class="icon">
            <div class="icon-img"><img src="../static/img/admin.png" alt="" /></div>
            <div class="icon-con">
                <span>Good Day</span>
                <span><h3>{{ name }}</h3></span>
            </div>
        </div>

        <div class="line"></div>
            <div class="menu-item">
                <label>
                    <i class="menu-item-icon iconfont icon-a-01-shujuzhongxin"></i>
                    <span onclick="home()">Home</span>
                </label>
            </div>

            <div class="menu-item">
                <label>
                    <i class="menu-item-icon iconfont icon-a-02-kechengguanli"></i>
                    <span onclick="work()">Work</span>
                </label>
            </div>


            <div class="menu-item">
                <label>
                    <i class="menu-item-icon iconfont icon-a-08-shezhi"></i>
                    <span onclick="logout()">Logout</span>
                </label>
            </div>

    </div>

        <div class="content-right">
            <div class="right-item">
                <div class="wthree-field">
                    <button  class="button gray" onclick="add()">Add Stuff</button>
                </div>

                <div class="wthree-field">
                    <button  class="button gray" onclick="stuffList()">Stuffs</button>
                </div>
            </div>
    </div>

    </div>



</body>
</html>