<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/icon.css">
    <link rel="stylesheet" href="../static/css/style-user.css" type="text/css" media="all">
</head>

<body>
    <div class="nav">
        <!--按钮-->
        <div class="btn">
            <div class="btn-item"></div>
            <div class="btn-item"></div>
            <div class="btn-item"></div>
        </div>
        <!--头像-->
        <div class="icon">
            <div class="icon-img"><img src="../static/img/admin.png" alt="" /></div>
            <div class="icon-con">
                <span>Good Day</span>
                <span><h3>Vitaliy D.</h3></span>
            </div>
        </div>

        <div class="line"></div>
            <div class="menu-item">
                <div>
                    <i class="menu-item-first-child iconfont icon-a-01-shujuzhongxin"></i>
                    <span>Home</span>
                </div>
            </div>

            <div class="menu-item">
                <div>
                    <i class="menu-item-first-child iconfont icon-a-02-kechengguanli"></i>
                    <span>Work</span>
                </div>
            </div>

            <div class="menu-item">
                <div>
                    <i class="menu-item-first-child iconfont icon-a-01-shujuzhongxin"></i>
                    <span>Logout</span>
                </div>
            </div>

        <div class="menu-item">
            <label>
                <i class="menu-item-icon iconfont icon-a-08-shezhi"></i>
                <span>setting</span>
            </label>
        </div>

    </div>

</body>
</html>